{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}


<section class="main" style="background-image: url(../../static/web/images/banner1.png);">

    <div class="head">

        <h5 class="sub-heading">Digital Studio</h5>
        <h2 class="main-head">Good Design</h2>
        <h2 class="main-head line">Mean That Good Buissness</h2>

        <p class="banner-para">
            We help our client suceed by creating identities, digital
            experiences, and printmaterials that communicate clearly,
            achieve marketing goals & look fantastic Lorem uispum
            dolor sit amert tunoer poea opefse ceefo goipully.
        </p>
        <div class="py-5">
            <a class="explore-btn px-4 py-1" href="">Explore</a>
            <a class="quote-btn px-4 py-1" href="">Get A Quote</a>
        </div>
    </div>


</section>


<section>

    <div class="service container">
        <h5 class="sub-heading text-center ">What We Do</h5>

        <h3 class="text-center explore">
            Explore Creative And Digital Solutions For Business
        </h3>

        <div class="row pt-5 px-5">
            <div class="col-lg-4 ">
                <div class="card card-style  mx-auto">
                    <div class="service-img-div p-4">
                        <img src="{% static 'web/images/graphic.png' %}" class="service-img p-3" alt="...">
                    </div>



                    <div class="card-body">
                        <h5 class="card-title pb-3">Graphics Design</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetr adipiscing elit. Adipiscing</p>
                    </div>

                    <div class="card-body">
                        <a class="readmore" href=""> <span style="color: black;">Read More</span> <i
                                class="fa fa-long-arrow-right"></i></a>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 ">

                <div class="card card-style mx-auto">


                    <div class="service-img-div p-4">
                        <img src="{% static 'web/images/ui.png' %}" class="service-img p-3" alt="...">
                    </div>


                    <div class="card-body">
                        <h5 class="card-title  pb-3">UI/UX Solution</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetr adipiscing elit. Adipiscing</p>
                    </div>

                    <div class="card-body">
                        <a class="readmore" href=""> <span style="color: black;">Read More</span> <i
                                class="fa fa-long-arrow-right"></i></a>
                        </a>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 ">

                <div class="card card-style mx-auto">


                    <div class="service-img-div p-4">
                        <img src="{% static 'web/images/web.png' %}" class="service-img p-3" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title  pb-3">Web development</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetr adipiscing elit. Adipiscing</p>
                    </div>

                    <div class="card-body">
                        <a class="readmore" href=""> <span style="color: black;">Read More</span> <i
                                class="fa fa-long-arrow-right"></i></a>

                    </div>
                </div>

            </div>



        </div>
        <div class="text-end mx-5 my-5">
            <a class="viewall-btn  px-4 py-1" href="">View all</a>
        </div>

    </div>



</section>


<section>

    <div class="service container">
        <h5 class="sub-heading text-center ">Our Recent Works</h5>

        <h3 class="text-center explore">
            Our Recent Web Design & Some Past Projects.
        </h3>

        <div class="row pt-5 px-5">

            <div class="col-lg-4">
                <div class="hover_color">
                    <img src="{% static 'web/images/project1.jpg' %}">
                    <div class="hover_color-inner">
                        <p class="hover_title">Creative Design</p>
                    </div>
                    <a class="hover_icon" href="#"> <i class="fa fa-long-arrow-right"></i></a>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="hover_color">
                    <img src="{% static 'web/images/project2.jpg' %}">
                    <div class="hover_color-inner">
                        <p class="hover_title">Creative Design</p>
                    </div>
                    <a href="#"></a>
                </div>

            </div>
            <div class="col-lg-4 ">
                <div class="hover_color">
                    <img src="{% static 'web/images/project3.jpg' %}">
                    <div class="hover_color-inner">
                        <p class="hover_title">Creative Design</p>
                    </div>
                    <a href="#"></a>
                </div>

            </div>
        </div>

        <div class="row pt-4 px-5">

            <div class="col-lg-4">
                <div class="hover_color">
                    <img src="{% static 'web/images/project4.jpg' %}">
                    <div class="hover_color-inner">
                        <p class="hover_title">Creative Design</p>
                    </div>
                    <a href="#"></a>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="hover_color">
                    <img src="{% static 'web/images/project5.jpg' %}">
                    <div class="hover_color-inner">
                        <p class="hover_title">Creative Design</p>
                    </div>
                    <a href="#"></a>
                </div>

            </div>
            <div class="col-lg-4 ">
                <div class="hover_color">
                    <img src="{% static 'web/images/project1.jpg' %}">
                    <div class="hover_color-inner">
                        <p class="hover_title">Creative Design</p>
                    </div>
                    <a href="#"></a>
                </div>

            </div>
        </div>

    </div>
    </div>



</section>



<section class="client mt-5">

    <div class="service container">
        <h3 class="text-center exploreblack">
            Rapidly increasing achievements through growth and experience
        </h3>

        <div class="row pt-5 px-5">
            <div class="col-lg-6">
               1000+
                Happy Clients

            </div>
            <div class="col-lg-6">
                <span>1000+</span>
                <h6>Happy Clients</h6>
            </div>
        </div>
    </div>



</section>


<section>
    <div class="service container">
        <h5 class="sub-heading text-center ">What We Do</h5>

        <h3 class="text-center explore">
            Rapidly increasing achievements through growth and experience
        </h3>
        <div class="row pt-5 px-5">
    </div>



</section>

<section class="client mt-5">

    <div class="service container">
        <h5 class="sub-heading text-center ">Partners & Clients</h5>
        <h3 class="text-center exploreblack">
            Partnered with 180+ brands from 15+ countries
        </h3>

        <div class="row pt-5 text-center px-5">
            <div class="col-lg-3 col-6">
                <img class="brand-logo" src="{% static 'web/images/brand.png' %}" alt="">
            </div>
            <div class="col-lg-3 col-6">
                <img class="brand-logo" src="{% static 'web/images/brand.png' %}" alt="">
            </div>
            <div class="col-lg-3 col-6">
                <img class="brand-logo" src="{% static 'web/images/brand.png' %}" alt="">
            </div>
            <div class="col-lg-3 col-6">
                <img class="brand-logo" src="{% static 'web/images/brand.png' %}" alt="">
            </div>

            <div class="col-lg-3 col-6">
                <img class="brand-logo" src="{% static 'web/images/brand.png' %}" alt="">
            </div>
            <div class="col-lg-3 col-6">
                <img class="brand-logo" src="{% static 'web/images/brand.png' %}" alt="">
            </div>
            <div class="col-lg-3 col-6">
                <img class="brand-logo" src="{% static 'web/images/brand.png' %}" alt="">
            </div>
            <div class="col-lg-3 col-6">
                <img class="brand-logo" src="{% static 'web/images/brand.png' %}" alt="">
            </div>

            <div class="col-lg-3 col-6">
                <img class="brand-logo" src="{% static 'web/images/brand.png' %}" alt="">
            </div>
            <div class="col-lg-3 col-6">
                <img class="brand-logo" src="{% static 'web/images/brand.png' %}" alt="">
            </div>
            <div class="col-lg-3 col-6">
                <img class="brand-logo" src="{% static 'web/images/brand.png' %}" alt="">
            </div>
            <div class="col-lg-3 col-6">
                <img class="brand-logo" src="{% static 'web/images/brand.png' %}" alt="">
            </div>

            <div class="col-lg-3 col-6">
                <img class="brand-logo" src="{% static 'web/images/brand.png' %}" alt="">
            </div>
            <div class="col-lg-3 col-6">
                <img class="brand-logo" src="{% static 'web/images/brand.png' %}" alt="">
            </div>
            <div class="col-lg-3 col-6">
                <img class="brand-logo" src="{% static 'web/images/brand.png' %}" alt="">
            </div>
            <div class="col-lg-3 col-6">
                <img class="brand-logo" src="{% static 'web/images/brand.png' %}" alt="">
            </div>
        </div>
    </div>



</section>


{% endblock %}