{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}



<section class="inner-banner">
    <div class="inner text-center ">
        <h5 class="sub-heading text-center ">UI/UX DESIGN</h5>

        <h2 class="text-center inner-head">
            Grow your brand with the most
            creative designers.
        </h2>

    </div>
</section>
</div>



</section>


<section>
    <div class="service container px-5">
        <div class="inner">
            <h5 class="sub-heading">Our Projects</h5>

            <h3 class="explore">
                The best designing company 
                in Calicut to create your UI/UX
            </h3>
        </div>


        <p class="package-para mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
            unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic types ett
            ing, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with 
            desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>


        <div class="row mt-5">
            <div class="col text-center">
                <div class="card card-style mx-auto">


                    <div class="service-img-div p-4">
                        <img src="{% static 'web/images/ui.png' %}" class="service-img p-3" alt="...">
                    </div>


                    <div class="card-body">
                        <h5 class="package-card  pb-3">Talented graphic
                            designers</h5>
                    </div>


                </div>
            </div>
            <div class="col text-center">
                <div class="card card-style mx-auto">


                    <div class="service-img-div p-4">
                        <img src="{% static 'web/images/ui.png' %}" class="service-img p-3" alt="...">
                    </div>


                    <div class="card-body">
                        <h5 class="package-card  pb-3">Buyer pleasing &
                            unique design
                        </h5>
                    </div>


                </div>
            </div>
            <div class="col text-center">
                <div class="card card-style mx-auto">


                    <div class="service-img-div p-4">
                        <img src="{% static 'web/images/ui.png' %}" class="service-img p-3" alt="...">
                    </div>


                    <div class="card-body">
                        <h5 class="package-card  pb-3">eye-getting
                            configuration
                        </h5>
                    </div>


                </div>
            </div>
            <div class="col text-center">
                <div class="card card-style mx-auto">


                    <div class="service-img-div p-4">
                        <img src="{% static 'web/images/ui.png' %}" class="service-img p-3" alt="...">
                    </div>


                    <div class="card-body">
                        <h5 class="package-card  pb-3">eye-getting
                            configuration
                        </h5>
                    </div>


                </div>
            </div>
            <div class="col text-center">
                <div class="card card-style mx-auto">


                    <div class="service-img-div p-4">
                        <img src="{% static 'web/images/ui.png' %}" class="service-img p-3" alt="...">
                    </div>


                    <div class="card-body">
                        <h5 class="package-card  pb-3">eye-getting
                            configuration
                        </h5>
                    </div>


                </div>
            </div>
        </div>


    </div>





</section>


<section>

    <div class="service container">
        <h5 class="sub-heading text-center ">Our Recent Works</h5>

        <h3 class="text-center explore">
            Our Recent Web Design & Some Past Projects.
        </h3>

        <div class="row pt-5 px-5">

            <div class="col-lg-4">
                <div class="hover_color">
                    <img src="{% static 'web/images/project1.jpg' %}">
                    <div class="hover_color-inner">
                        <p class="hover_title">Creative Design</p>
                    </div>
                    <a class="hover_icon" href="#"> <i class="fa fa-long-arrow-right"></i></a>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="hover_color">
                    <img src="{% static 'web/images/project2.jpg' %}">
                    <div class="hover_color-inner">
                        <p class="hover_title">Creative Design</p>
                    </div>
                    <a href="#"></a>
                </div>

            </div>
            <div class="col-lg-4 ">
                <div class="hover_color">
                    <img src="{% static 'web/images/project3.jpg' %}">
                    <div class="hover_color-inner">
                        <p class="hover_title">Creative Design</p>
                    </div>
                    <a href="#"></a>
                </div>

            </div>
        </div>

        <div class="row pt-4 px-5">

            <div class="col-lg-4">
                <div class="hover_color">
                    <img src="{% static 'web/images/project4.jpg' %}">
                    <div class="hover_color-inner">
                        <p class="hover_title">Creative Design</p>
                    </div>
                    <a href="#"></a>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="hover_color">
                    <img src="{% static 'web/images/project5.jpg' %}">
                    <div class="hover_color-inner">
                        <p class="hover_title">Creative Design</p>
                    </div>
                    <a href="#"></a>
                </div>

            </div>
            <div class="col-lg-4 ">
                <div class="hover_color">
                    <img src="{% static 'web/images/project1.jpg' %}">
                    <div class="hover_color-inner">
                        <p class="hover_title">Creative Design</p>
                    </div>
                    <a href="#"></a>
                </div>

            </div>
        </div>
        <div class="row pt-4 px-5">

            <div class="col-lg-4">
                <div class="hover_color">
                    <img src="{% static 'web/images/project4.jpg' %}">
                    <div class="hover_color-inner">
                        <p class="hover_title">Creative Design</p>
                    </div>
                    <a href="#"></a>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="hover_color">
                    <img src="{% static 'web/images/project5.jpg' %}">
                    <div class="hover_color-inner">
                        <p class="hover_title">Creative Design</p>
                    </div>
                    <a href="#"></a>
                </div>

            </div>
            <div class="col-lg-4 ">
                <div class="hover_color">
                    <img src="{% static 'web/images/project1.jpg' %}">
                    <div class="hover_color-inner">
                        <p class="hover_title">Creative Design</p>
                    </div>
                    <a href="#"></a>
                </div>

            </div>
        </div>
        <div class="row pt-4 px-5">

            <div class="col-lg-4">
                <div class="hover_color">
                    <img src="{% static 'web/images/project4.jpg' %}">
                    <div class="hover_color-inner">
                        <p class="hover_title">Creative Design</p>
                    </div>
                    <a href="#"></a>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="hover_color">
                    <img src="{% static 'web/images/project5.jpg' %}">
                    <div class="hover_color-inner">
                        <p class="hover_title">Creative Design</p>
                    </div>
                    <a href="#"></a>
                </div>

            </div>
            <div class="col-lg-4 ">
                <div class="hover_color">
                    <img src="{% static 'web/images/project1.jpg' %}">
                    <div class="hover_color-inner">
                        <p class="hover_title">Creative Design</p>
                    </div>
                    <a href="#"></a>
                </div>

            </div>
        </div>

    </div>
    </div>



</section>



<section class="client mt-5">

    <div class="service container">
        <h3 class="text-center explore">
            Rapidly increasing achievements through growth and experience
        </h3>

        <div class="row pt-5 px-5">
            <div class="col-lg-6">
                1000+
                Happy Clients

            </div>
            <div class="col-lg-6">
                <span>1000+</span>
                <h6>Happy Clients</h6>
            </div>
        </div>
    </div>



</section>
{% endblock %}