{% load static %}

    <footer class="footer">
        <div class="container footer-content">
            <div class="row">
                <div class="footer-col">
                    <div>
                        <img src="{% static 'web/images/logo.jpg' %}" alt="">
                    </div>
                </div>


                <div class="footer-col">
                    <h4 class="footer-head">About us </h4>
                    <div>
                        <p class="about-footer">
                            Quis autem vel eum iure reprehend erit quiin voluptate velit esse quam nihil molestiae
                            consequ atureum fu
                        </p>
                    </div>
                </div>


                <div class="footer-col">
                    <h4 class="footer-head">Quick Links</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">bag</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">dress</a></li>
                    </ul>
                </div>


                <div class="footer-col">
                    <h4 class="footer-head">News Letter</h4>
                    <p class="about-footer">
                        We denounce with righteous indign ation and dislike men who are
                    </p>

                    <button class="subscribe-btn p-2">
                        Subscribe Now
                    </button>
                </div>
            </div>


        </div>
        <div class="copy-right p-2">
            <span>@</span>2022 Stunsky Design and Technologies. All rights reserved.
                        </div>
    </footer>