{% load static %}

<nav id="navbar" class="">
    <div class="nav-wrapper">
        <!-- Navbar Logo -->
        <div class="logo">
            <!-- Logo Placeholder for Inlustration -->
            <a href="#home"><i class=""></i><img src="{% static 'web/images/logo.jpg' %}"></a>
        </div>

        <!-- Navbar Links -->
        <ul id="menu" class="navbar navbar-expand-lg">
            <li><a  href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#services">Blog</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>


    </div>
</nav>


<!-- Menu Icon -->
<div class="menuIcon">
    <span class="icon icon-bars"></span>
    <span class="icon icon-bars overlay"></span>
</div>


<div class="overlay-menu">
    <ul id="menu">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#services">Blog</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</div>

